<button class="tab-item active" data-name="start-interaction">
    Start interaction
</button>
<button class="tab-item" data-name="transfer-interaction">
    Transfer
</button>
<button class="tab-item" data-name="conference-interaction">
    Conference
</button>
<button class="tab-item" data-name="active-interaction">
    Active interaction
</button>
<button class="tab-item" data-name="active-associated">
    Active screen & Associated object
</button>
<button class="tab-item" data-name="notes-interaction">
    Notes & Disposition
</button>
<button class="tab-item" data-name="end-interaction">
    End interaction
</button>