<h2 class="title">Services and DID numbers</h2>
<form onsubmit="return false">
    <div class="mb-8">
        <label class="input-label" for="service_id_input">
            Service ID/name
        </label>
        <input class='input' id="service_id_input" type="text" placeholder="Service ID/name"
               autocomplete="on"
        >
    </div>
    <div class="mb-8">
        <label class="input-label" for="did_phone_input">
            DID phone number
        </label>
        <input class='input' id="did_phone_input" type="text" placeholder="DID phone number"
               autocomplete="on"
        >
    </div>
    <div class="flex flex-wrap -mx-1">
        <button class="button mx-1 mb-4" id="get_service_button">getService</button>
        <button class="button mx-1 mb-4" id="get_services_list_button">getServicesList</button>
        <button class="button mx-1 mb-4" id="set_service_button">setService</button>
        <button class="button mx-1 mb-4" id="get_did_number_button">getDIDNumber</button>
        <button class="button mx-1 mb-4" id="get_did_numbers_list_button">getDIDNumbersList</button>
        <button class="button mx-1 mb-4" id="set_did_number_button">setDIDNumber</button>
        <input type='reset' class="button_helper inline-block w-auto mx-1 mb-4"
               value="Reset form"/>
    </div>
</form>
