<h2 class="title">Session</h2>
<form onsubmit="return false">
    <div class="mb-4">
        <label class="input-label" for="username_input">
            Username
        </label>
        <input class='input' id="username_input" type="text" placeholder="Username" autocomplete="on"
               name="name"
        >
    </div>

    <div class="mb-4">
        <label class="input-label" for="password_input">
            Password
        </label>
        <input class='input' id="password_input" type="password" placeholder="Password" autocomplete="off"
               name="name"
        >
    </div>

    <div class="mb-8">
        <label class="input-label" for="tenant_input">
            Tenant
        </label>
        <input class='input' id="tenant_input" type="text" placeholder="Tenant" autocomplete="on"
               name="name"
        >
    </div>
    <div class="flex justify-between flex-wrap -mx-1">
        <button class="button mx-1 mb-4" id="login_button">login</button>
        <button class="button mx-1 mb-4" id="get_login_state_button">getLoginState</button>
        <button class="button mx-1 mb-4" id="logout_button">logout</button>
        <input type='reset' class="button_helper self-end inline-block w-auto mx-1 mb-4"
               value="Reset form"/>
    </div>
</form>
