<h2 class="title">Session</h2>
<form onsubmit="return false">
    <div class="flex justify-between flex-wrap -mx-1">
        <button class="button mx-1 mb-4" id="login_button">login</button>
        <button class="button mx-1 mb-4" id="get_login_state_button">getLoginState</button>
        <button class="button mx-1 mb-4" id="logout_button">logout</button>
        <input type='reset' class="button_helper self-end inline-block w-auto mx-1 mb-4"
               value="Reset form"/>
    </div>
</form>
