<h2 class="title">Teams and Service</h2>
<form onsubmit="return false">
<div class="mb-8">
    <label class="input-label" for="team_id_input">
        Team ID
    </label>
    <input class='input' id="team_id_input" type="text" placeholder="Team ID"
           autocomplete="on"
    >
</div>
<div class="mb-8">
    <label class="input-label" for="service_id_input">
        Service ID/name
    </label>
    <input class='input' id="service_id_input" type="text" placeholder="Service ID/name"
           autocomplete="on"
    >
</div>
<div class="flex flex-wrap -mx-1">
    <button class="button mx-1 mb-4" id="get_teams_button">getTeams</button>
    <button class="button mx-1 mb-4" id="get_team_members_button">getTeamMembers</button>
    <button class="button mx-1 mb-4" id="get_services_list_button">getServicesList</button>
    <button class="button mx-1 mb-4" id="set_service_button">setService</button>
    <input type='reset' class="button_helper inline-block w-auto mx-1 mb-4"
           value="Reset form"/>
</div>
</form>
