<aside class="menu">
        <div class="p-4 flex justify-end items-center">
            <label class='mr-2 text-gray-500  cursor-pointer text-sm font-bold inline-block'
                   for="menu_multiple_select_checkbox">Multiple select</label>
            <div class="toggle-checkbox-wrapper">
                <input type="checkbox" name="toggle" id="menu_multiple_select_checkbox"
                       class="toggle-checkbox "/>
                <label for="menu_multiple_select_checkbox"
                       class="toggle-label"></label>
            </div>
        </div>
        <button class="menu-item opened" data-name="session">Session</button>
        <button class="menu-item" data-name="phone-device">Phone Device</button>
        <button class="menu-item" data-name="agent-state">Agent state</button>
        <button class="menu-item" data-name="interaction">Interactions</button>
        <button class="menu-item" data-name="teams">Teams and Service</button>
        <button class="menu-item" data-name="reschedule">Reschedule window</button>
        <button class="menu-item" data-name="screen-recording">Screen recording</button>
        <button class="menu-item" data-name="knowledge-base">Knowledge Base</button>
        <button class="menu-item" data-name="widget-config">Widget & Config</button>
    </aside>